@use "sass:map";
@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.cartModal__container {
    @include position(fixed);
    @include flex(column, flex-end);
    margin-top: 20px;
    height: 100vh;
    min-width: 60vw;


    .cartModal_content {
        background-color: $secondary-color;
        min-width: 40vw;
    }

    .close_cartModal {
        @include moveElement (-80px, 20px);
        background-color: transparent;
            border: none;
            margin-top: 1.5rem;
            color: $terciary-dark-color;
            cursor: pointer;
            &:hover {
                    color: red;
                }
    }
}