@use "sass:map";
@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.cartModal__container {
    @include position(fixed);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    height: 100vh;
    min-width: 60vw;
    overflow: scroll;
    overscroll-behavior: contain;


    .cartModal_content {
        background-color: $secondary-color;
        min-width: 40vw;
        overflow: scroll;
        overscroll-behavior: contain;
        padding: 1.5rem;
    }

    .close_cartModal {
        background-color: transparent;
            border: none;
            margin-top: 1.5rem;
            color: $terciary-dark-color;
            cursor: pointer;
            &:hover {
                    color: red;
                }
    }
}