@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.heartModal__container {
   @include position(fixed);
    @include flex(column, flex-start);
    margin-top: 40px;
    width: 60vw;

    .heartModal_content {
        background-color: $secondary-color;
        height: 100vh;
        width: 60vw;
    }


    .title-and-closemoda__container {
         display: inline-flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
        font-size: 12px;
        margin-left: 10px;
    }
    .close_cartModal {
        background-color: transparent;
            border: none;
            margin-top: 1.5rem;
            color: $terciary-dark-color;
            cursor: pointer;
            &:hover {
                    color: red;
                }
    }
}