@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.menu-btn {
    cursor: pointer;
    color: $primary-dark-font-color;
    @include transition-ease;
    width: 30px;
    @include moveElement (320px, -10px);

    &:hover {
        color: $primary-glow-color;
    }

    &__burger {
        @include transition-ease;

        svg {
            width: 20px;
            height: 25px;
        }   
    }

    @media screen and (min-width: 1026px) {
        @include visibility(hidden);
        margin-top: -20px;
    }
}

.navbar-container__menuBurger {

    .navbar-container__items__menuBurger {
        @include flex(column, start);
        margin-top: 1px;
        padding-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        @include transition-ease;
        gap: 10px;
        cursor: pointer;
        .menu-nav__cart {
            display: inline-flex;
        }
        
    }
}


.menuModal__container {
   @include position(fixed);
   @include flex(column, flex-end);
    
    background-color: #DDB892;
    @include moveElement (0px, 40px);

    .menuModal_content {
        background-color: $secondary-color;
        min-width: 50vw;
        height: 100vh;
        padding: 1.5rem;
    }

    .close_menuModal {
        @include moveElement (8px, 0px);
        background-color: transparent;
        border: none;
        margin-top: 1.5rem;
        color: $terciary-dark-color;
            cursor: pointer;
            &:hover {
                    color: red;
                }
    }
}






