@use '../utils/mixins' as *;
@use '../utils/variables' as *;

@include media-dxs {

    .home-title {
       text-align: center;
        padding-top: 60px; 

        .home-title__glow {
            font-size: 30px;
        }

        p {
           font-size: 14px;
            text-align: center; 
        }
        
    }

    .product-card__container {
        font-size: 12px;
        .product-card {
            .product-card__info  {
                p {
                    font-size: 10px;}
            }
        }
    }
     
     

    .main-container__contact {
        margin-bottom: 10rem;
    }

    .main-container__alta {
        height: auto;
        margin-bottom: 15rem;
    }

    .home-btn__container-alta {
        margin-top: 40rem;
    }

    .navbar-container {
        .menu-btn {
        cursor: pointer;
        color: #212529;
        transition: all 0.5s ease-in-out;
        width: 30px;
        transform: translate(280px, -20px);
    }
    }

    
    .menuModal__container {
     .menuModal_content {
        font-size: 12px;
     }

     

    .heartModal__container {
        @include position(absolute);
        @include flex(column, flex-end);
        margin-top: 20px;
        margin-right: -20px;
        height: 100vh;
    }

    }


  .main-container__product-details {
        .product-details__page {
             p {
            font-size: 8px;
            margin-right: 32px;
        }
        h2 {
            font-size: medium;
        }
        }
        .products-details__container {
        .products-details__card {
            .products-details__images {
                      img {
                        border-radius: 10px;
                        margin: 10px;
                        width: 250px;
                        height: 250px;
                     }
            }
        }
    }
    }

    .main-container__product-details {
    

        p {
            font-size: 8px;
            margin-right: 32px;
        }
        h2 {
            font-size: medium;
        }

        .product-details__container {

            .products-details__card 
            .products-details__images {
                img {
                    width: 300px;
                }
    
}
        }

    }



    .heartModal__container {
        font-size: 12px;
    }

    .wallet__container {
        width: 36%;
    }

    #img {
        font-size: 10px;
    }

}

@include media-ds {
    .about-card-info  {
        margin-left: 1rem;
        margin-right: 1rem;
        .form-container {
            div {
                input {
                    width: 330px;
                }
                textarea {
                    width: 330px;
                }
                
            }
        }
        .form-container__product input{
                    width: 400px;
        }

        .wallet__container {
            width: 40%;
    }
    }
}

@include media-md {
    .about-card-info  {
        margin-left: 3rem;
        margin-right: 3rem;
        .form-container {
            div {
                input {
                    width: 600px;
                }
                textarea {
                    width: 600px;
                }
            }
        }
        .form-container__product input{
            width: 500px;
}
    }

    .main-container__contact {
        margin-bottom: 4rem;
        height: auto;
    }

    .heartModal__container {
        @include position(fixed);
        display: flex;
        flex-direction: column;
        min-width: 40vw;
        .heartModal__content {
            background-color: $secondary-color;
            padding: 1.5rem;
            font-size: medium;
            min-width: 40vw;
        }
    }

    .favorites__container {
        width: 600px;
        .favorites__content {
            @include moveElement(110px, 0px);
        }
    }

        .wallet__container {
            width: 80%
    }

   

}

@include media-lg {
    
    .about-card-info  {
        margin-left: 6rem;
        margin-right: 6rem;
        
        .form-container {
            
            div {
                input {
                    width: 750px;
                    
                }
                textarea {
                    width: 750px;
                }
                
            }
        }
        
    }
    .form-container__product input{
        width: 950px;
    }

    .home-btn_container {
        margin-top: 3rem;
    }

    .home-btn__container-alta {
        margin-top: 6rem;
    }

    .main-container__aboutUs {
        height: auto;
    }


    .home-btn__container-alta {
        margin-top: 30rem;
    }


    .heartModal__container {
        @include position(fixed);
        display: flex;
        flex-direction: column;
        min-width: 40vw;
        .heartModal__content {
            background-color: $secondary-color;
            padding: 1.5rem;
            font-size: medium;
            min-width: 40vw;
        }
    }

    .favorites__container {
        
        .favorites__content {
            margin-bottom: 20px;
        }
    }

        .wallet__container {
        font-size: 12px;
        width: 100%;
    }

    .menuModal__container {
        .close_menuModal {
            margin-left: 20px;
        }
    }
    
    .cartModal__container {
        .cartModal_content {
            .shoppingCart__container {
                max-height: 420px;
            }
        }
        
    } 

}

@include media-xl {
    
    .about-card-info  {
        margin-left: 6rem;
        margin-right: 6rem;
        .form-container {
            div {
                input {
                    width: 1024px;
                }
                textarea {
                    width: 1024px;
                }
            }
        }
        .form-container__product input{
            width: 950px;
        }
    }
    .main-container {
        width: 100%;
        padding-top: 3.5rem;
    }

    .main-container__aboutUs {
        width: 100%;
        padding-top: 3.5rem;
        height: auto;
    }

    .main-container__alta {
        width: 100%;
        padding-top: 3.5rem;
        height: auto;
    }


.cartModal__container {
        @include position(fixed);
        background-color: transparent;
        @include moveElement(590px, 0px); 
    }

    .cartModal__container {
        .cartModal_content {
            .shoppingCart__container {
                max-height: 500px;
            }
        }
        
    }

}

@include media-xxl {

    .main-container {
        width: 100%;
        padding-top: 3.5rem;
        height: auto;
    }

    .cartModal__container {
        @include position(fixed);
        background-color: transparent;
        @include moveElement(1200px, 0px); 
    }
    .cartModal__container {
        .cartModal_content {
            .shoppingCart__container {
                max-height: 950px;
                margin-right: 200px;
                margin-left: 50px;
            }
        }
        
    }

        .heartModal__container {
            @include position(fixed);
            display: flex;
            flex-direction: column;
            min-width: 40vw;
            //@include moveElement(1200px, 0px);
            .heartModal__content {
                background-color: $secondary-color;
                padding: 1.5rem;
                font-size: medium;
                min-width: 40vw;
            }
        }

        .favorites__container {
            width: 900px;
            margin: 40px;
            //@include moveElement(50px, 0px);
            .favorites__content {
                margin-bottom: 20px;
                @include moveElement(110px, 0px);
                .item__container {
                    width: 600px;
                    @include flex(row, space-between);
                }
                hr {
                    width: 600px;
                }
            }
        }
}